################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EncapsulateWhatVarient/.vs/EncapsulateWhatVarient
/CAFavorCompositionOverInheritanceAndComposition/CAFavorCompositionOverInheritance/.vs/CAFavorCompositionOverInheritance
/CAFavorCompositionOverInheritanceAndComposition/CAFavorCompositionOverInheritance
/CATightlyVsLooselyCoupled/CATightlyVsLooselyCoupled/.vs/CATightlyVsLooselyCoupled
/.vs
/CAFavorCompositionOverInheritanceAndComposition/CAFavorCompositionOverInheritance/.vs/ProjectEvaluation
/CATightlyVsLooselyCoupled/CATightlyVsLooselyCoupled/.vs/CATightlyVsLooselyCoupled
/CATightlyVsLooselyCoupled/CATightlyVsLooselyCoupled/CATightlyVsLooselyCoupled/obj
/CATightlyVsLooselyCoupled/CATightlyVsLooselyCoupled/CATightlyVsLooselyCoupled/bin/Debug/net8.0
/CATightlyVsLooselyCoupled/CATightlyVsLooselyCoupled/.vs/ProjectEvaluation
/SOLID.SRP/SOLID.SRP/.vs/SOLID.SRP
/SOLID.SRP/SOLID.SRP/SOLID.SRP/bin/Debug/net8.0
/SOLID.SRP/SOLID.SRP/SOLID.SRP/obj/Debug/net8.0
/SOLID.SRP/SOLID.SRP/SOLID.SRP/obj
/SOLID.OCP/SOLID.OCP/.vs/SOLID.OCP
/SOLID.OCP/SOLID.OCP/SOLID.OCP/bin/Debug/net8.0
/SOLID.OCP/SOLID.OCP/SOLID.OCP/obj
/SOLID.LSP/SOLID.LSP/.vs/SOLID.LSP
/SOLID.LSP/SOLID.LSP/SOLID.LSP/bin/Debug/net8.0
/SOLID.LSP/SOLID.LSP/SOLID.LSP/obj
