################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EncapsulateWhatVarient/.vs/EncapsulateWhatVarient
/CAFavorCompositionOverInheritanceAndComposition/CAFavorCompositionOverInheritance/.vs/CAFavorCompositionOverInheritance
/.vs
/CAFavorCompositionOverInheritanceAndComposition/CAFavorCompositionOverInheritance/.vs/ProjectEvaluation
/CATightlyVsLooselyCoupled/CATightlyVsLooselyCoupled/.vs/CATightlyVsLooselyCoupled
/CATightlyVsLooselyCoupled/CATightlyVsLooselyCoupled/CATightlyVsLooselyCoupled/obj
