################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EncapsulateWhatVarient/.vs/EncapsulateWhatVarient
/CAFavorCompositionOverInheritanceAndComposition/CAFavorCompositionOverInheritance/.vs/CAFavorCompositionOverInheritance
/CAFavorCompositionOverInheritanceAndComposition/CAFavorCompositionOverInheritance
/CATightlyVsLooselyCoupled/CATightlyVsLooselyCoupled/.vs/CATightlyVsLooselyCoupled
/CATightlyVsLooselyCoupled/CATightlyVsLooselyCoupled/CATightlyVsLooselyCoupled
